<div class="grid-container">


  <div class="grid-100" id="order-summary-container">
    <h1>Order Summary</h1>
    <br/>

    <table>
      <thead>
        <%= render partial: 'orders/order_item_table' %>
      </thead>

      <tbody>
        <%= render partial: 'orders/order_item', collection: current_order.order_items %>
      </tbody>
    </table>

    <h2 id="current-total">
      Order Total: <%= number_to_currency(order_total(current_order.order_items)) %>
    </h2>
    

  </div>


  <div class="grid-100" id="transaction-container">

    <h1>Transaction Information</h1>
    <h2>Checking out as <%= if current_user; current_user.full_name; else; "Guest"; end; %></h2>


    <%= render "addresses/current_address" if session[:current_address] %>

    <%= render "addresses/address_form" unless session[:current_address] %>

    <%= form_for(@transaction) do |f| %>

      <% if session[:current_address] %>
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_czwzkTp2tactuLOEOqbMTRzG"
          data-amount=""
          data-name="Ono-Burrito"
          data-description="Your Order"
          data-image="">
        </script>
      <% end %>

    <% end %>

  </div>
</div>
