 <div class="grid-container">
  <div class="grid-100" id="transaction-container">
    <h1>Transaction Details</h1>
    <div id="transaction-details">
      <p class="order-item-details">
      <%= render partial: "addresses/current_address", model: @address %>
      <% @transaction.order.order_items.each do |oi| %>
        <div class="order-item-details">
          <p>Item: <%= oi.item.title %></p>
          <p>Quantity: <%= oi.quantity %></p>
          <p>Subtotal: <%= number_to_currency(oi.item.price*oi.quantity) %></p>
        </div>
      <% end %>
      <p class="order-item-details">Total: <%= number_to_currency(@total) %></p>
    </div>
    <p>Go back to <%= link_to current_restaurant.name, restaurant_root_path(session[:current_restaurant]) %>?<p>
  </div>
</div>
